{% extends "master.twig" %}


{% block title %}List Users{% endblock %}

{% block content %}
    <table class="table">
        {% for a in model.users %}
            <tr>
                <td>{{ a.email }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}